
@model ShopTARgv24.Models.Kindergarten.KindergartenDetailsViewModel

<h1>Details</h1>

<div>
    <h4>Kindergarten</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.id)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.GroupName)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.ChildrenCount)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.KindergartenName)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="TeacherName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.TeacherName)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.CreatedAt)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(Model => Model.UpdatedAt)
        </div>
    </dl>

    <div>
        <a asp-action="update" asp-controller="kindergarten" asp-route-id="@Model.id" class="btn btn-primary">Update</a>
        <a asp-action="delete" asp-controller="kindergarten" asp-route-id="@Model.id" class="btn btn-outline-danger">Delete</a>
        <a asp-action="index" asp-controller="kindergarten" class="btn btn-primary">Back</a>
    </div>


</div>
