@model ShopTARgv24.Models.Kindergarten.KindergartenDetailsViewModel

<h1>Details</h1>

<div>
    <h4>Kindergarten</h4>
    <hr />

    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="form-group row">
        <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="form-group row">
        <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.ChildrenCount)
    </div>

    <div class="form-group row">
        <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.KindergartenName)
    </div>

    <div class="form-group row">
        <label asp-for="TeacherName" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.TeacherName)
    </div>

    <div class="form-group row">
        <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="form-group row">
        <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

    @if (Model.Image != null && Model.Image.Any())
    {
        @foreach (var image in Model.Image)
        {
            <partial name="_Images" model="image" />
        }
    }

    <a asp-action="Index" asp-controller="Kindergarten" class="btn btn-primary">Back</a>
</div>
