@model IEnumerable<ShopTARgv24.Models.Kindergarten.KindergartenIndexViewModel>

<div>
    <a asp-action="create" asp-controller="kindergarten" type="submit" class="btn btn-primary">Create</a>
</div>

<h1>Kindergarten</h1>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Children Count</th>
                <th>Kindergarten Name</th>
                <th>Teacher Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (var kindergarten in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@kindergarten.GroupName</td>
                    <td>@kindergarten.ChildrenCount</td>
                    <td>@kindergarten.KindergartenName</td>
                    <td>@kindergarten.TeacherName</td>
                    <td>
                        <a asp-action="details" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="update" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</form>
